name: Mirror to GitLab

on:
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: MasterKia/PersianBlocker
          ref: main

      - name: Push to GitLab
        run: |
          git remote add gitlab https://Parsast:${{ secrets.GITLAB_TOKEN }}@gitlab.com/Parsast/PersianBlocker.git
          git push -u gitlab main

