name: Mirror to Codeberg

on:
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: MasterKia/PersianBlocker
          ref: main

      - name: Push to Codeberg
        run: |
          git remote add codeberg https://oauth2:${{ secrets.CODEBERG_TOKEN }}@codeberg.org/Parsast/PersianBlocker.git
          git push -u codeberg main
